:root {
  font: 16px / 1 sans-serif;
  --white: rgb(100%, 100%, 100%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}

.main-menu-left {
  display: flex;
  margin-left: 2em;
  align-items: baseline;
  font-size: 1.5em;
}

.main-menu-right {
  display: flex;
  margin-right: 2em;
  font-size: 1.5em;
}

.photo-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(97%, 97%, 98%);
}

.img-style {
  display: flex;
  height: 27em;
  margin: 3em;
  border-radius: 2em;
  /* border: thin solid black; */
  border: 1px #e1e4e8 solid !important;
  background-color: var(--white);
}
